<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Leave Dashboard</title>
</head>
<body class="dashboard-body">
    <div class="container">
        <h2 id="welcomeMessage"></h2>

        <p> Welcome, {{ session['name'] }}!
        
        <hr>

        <div class="row">
            <div class="column left">Sidebar</div>
            <div class="column middle">
                <h1>Leave Requests</h1>
            </div>
            <div class="column right">
                <h1>Work From Home Days</h1>
            </div>
        </div>

        <h3 id="currentWeek"></h3>

        <!-- <h3>Existing Leave Requests:</h3>
        <ul id="leaveRequests"></ul>
        <p><a href="index.html">Logout</a></p> -->

        <!-- <div id="weekColumns" class="week-columns"></div> -->

        <!-- <form id="leaveForm" style="display: none; position: absolute;"> -->
            <!-- <label for="leaveDate">Selected day:</label> -->
            <!-- <span id="selectedDay"></span> Display the selected day -->
            <!-- <input type="hidden" id="leaveDate" name="leaveDate" required> -->

            <!-- Display the input box dynamically -->
            <!-- <div id="leaveTypeInputContainer" style="display: none;"> -->
                <!-- <label for="leaveType">Leave Type:</label> -->
                <!-- <input type="text" id="leaveType" name="leaveType" required> -->
            <!-- </div> -->

            <!-- <button type="button" onclick="submitLeaveRequest()">Submit Leave Request</button> -->
            <!-- <button type="button" onclick="cancelLeaveRequest()">Cancel</button> -->
        <!-- </form> -->

    </div>

</body>
</html>

