<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Leave & Absence Dashboard</title>
</head>
<body class = body>
    <div class="container">
        {% if err_message %}
            <p class="error"> {{ err_message }}
        {% endif %} 
        <form id="loginForm" action="" method="post">
            <label for="username">Employee Email:</label>
            <input type="text" placeholder="example@domain.com" id="username" name="username" value="{{ request.form.username }}" required>

            <label for="password">Password:</label>
            <input type="password" placeholder="password" id="password" name="password" value="{{ request.form.password }}" required>

            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
